# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
.agents/

# Django & Celery
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
cache/
celerybeat-schedule*

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#local files
.docs/